.round_design-1 {
  margin-right: 0%;
  margin-left: 3%;
  width: 40px;
  height: 40px;
  border-radius: 150px;
  text-align: center;
  font-size: 25px;
  outline: 3px solid #fcfdfc;
  background-color: #34c36d;
  color: aliceblue;
  box-shadow: 0px 0px 30px rgba(149, 179, 197, 0.4);
}
.round_design-2 {
  margin-right: 4%;
  margin-left: 0%;
  width: 40px;
  height: 40px;
  border-radius: 150px;
  text-align: center;
  font-size: 25px;
  outline: 1px solid #34c36d;

  box-shadow: 0px 0px 30px rgba(149, 179, 197, 0.4);
}

.steps {
  text-align: center;
  margin-top: 2%;
}
