.card_main {
  width: 250px;
  margin: 20px;
  position: relative;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
  /* float: left; */
}

#channel_title {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  padding: 1% 3% 1% 3%;
  margin-bottom: 1%;
}

#video_view {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
}

#video_duration {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
}

#heading {
  font-size: 16px;
  padding: 3%;
  margin-bottom: 1%;
}

.remove1 {
  position: absolute;
  right: -10px;
  top: 0px;
}
.remove2 {
  position: absolute;
  top: -17px;
  right: -14px;
}

.caption-card {
  margin-right: 2%;
  border-right: 1px solid #c4c4c4;
  padding-right: 15px;
  margin-bottom: 2%;
  box-sizing: content-box;
  min-width: 300px;
}

.caption-text {
  color: #4b5869;
  font-size: 14px;
}

.caption-start {
  color: #cf203f;
  font-size: 16px;
}

.round {
  color: white;
  border: 5px solid #cf203f;
  height: 15px;
  width: 15px;
  border-radius: 10px;
  top: -115%;
  position: absolute;
  margin-left: 45px;
}

.line {
  background: pink;
  position: relative;
  height: 5px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  margin-bottom: 25px;
}

.fix-line {
  margin-right: -240%;
}

.view_dur {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  margin-left: 7px;
}

@media only screen and (max-width: 600px) {
  .card_main {
    margin-left: 65px;
    margin-top: 50px;
  }
}
